@page "/weatherforecast"
@using PlayingWithBlazor.Models
@using Newtonsoft.Json
@using System.Linq
@using System.IO
@inject HttpClient httpClient
@inject OpenWeatherForecastData OpenWeatherForecastData


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from OpenWeather API.</p>


@if(CityList == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
    <div class="form-group">
    <label>Enter your OpenWeatherMap API KEY : </label>
    <input type="text" class="form-control" @bind="@APIKey" />
    </div>

    <div class="form-group">
    <label>Enter the City : </label>
        <BlazoredTypeahead SearchMethod="@SearchCityNames"
                    @bind-Value="@SelectedCity">
            <SelectedTemplate>
                @context.Name, @context.Country
            </SelectedTemplate>
            <ResultTemplate>
                @context.Name, @context.Country
            </ResultTemplate>
            <NotFoundTemplate>
                Sorry, the entered city hasn't been found.
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" @onclick="@GetForecast">Get forecast</button>
    </div>
    <hr />

    @if(isQuerying)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else if(DailyForecasts.Count > 0)
    {
        <div>Weather Forecast of the next <select @bind="@DaysSelectValue">
                                            @{for (int i = 1; i < 6; i++)
                                            {
                                                <option value="@i" selected>@i</option>
                                            }}
                                        </select>
            day(s) for the city of @SelectedCity.Name : 
        </div>
        <br /> 
        @foreach (var day in DailyForecasts.Take(numberOfDays))
        {
            <p>Forecast for : @DateTimeOffset.FromUnixTimeSeconds(day[0].Dt).AddSeconds(forecast.City.Timezone).ToString("D")</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Local Time at @SelectedCity.Name</th>
                        <th>Temp. (C)</th>
                        <th>Summary</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fc in day)
                    {
                        <tr>
                            <td>@DateTimeOffset.FromUnixTimeSeconds(fc.Dt).AddSeconds(forecast.City.Timezone).ToString("t")</td>
                            <td>@fc.Main.Temp</td>
                            <td>@fc.Weather[0].Description</td>
                            <td>
                                @{var iconURL = $"http://openweathermap.org/img/wn/{@fc.Weather[0].Icon}@2x.png";
                                <img src=@iconURL height=50 width=50>
                                }
                                </td>
                        </tr>
                    }
                </tbody>
            </table>  
            <br /> 
        }
    }
}

@code 
{
    protected string APIKey { get; set; } = "2ad0ee5277bd2278b8086676f6752f8e";
    protected OpenWeatherForecast forecast = null;
    protected List<List<Summary>> DailyForecasts = new List<List<Summary>>();
    protected List<City> CityList;
    protected City SelectedCity;
    protected string DaysSelectValue { get => numberOfDays.ToString(); set => int.TryParse(value, out numberOfDays);}
    protected int numberOfDays = 5;
    protected bool isQuerying = false;


    protected async void GetForecast()
    {
        isQuerying = true;
        string url = $"http://api.openweathermap.org/data/2.5/forecast?id={SelectedCity.Id}&units=metric&APPID={APIKey}";
        var responseJson = await httpClient.GetStringAsync(url);
        forecast = JsonConvert.DeserializeObject<OpenWeatherForecast>(responseJson);
        var initial_day = DateTimeOffset.FromUnixTimeSeconds(forecast.List[0].Dt).AddSeconds(forecast.City.Timezone);
        DailyForecasts.Clear();
        for (int i = 0; i < 5; i++)
        {
            var dailyForecast = forecast.List.Where( x => DateTimeOffset.FromUnixTimeSeconds(x.Dt).AddSeconds(forecast.City.Timezone).Day == initial_day.AddDays(i).Day)
                                                    .ToList();
            DailyForecasts.Add(dailyForecast);
        }
        isQuerying = false;
        StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        if(CityList == null)
        {
            CityList = await OpenWeatherForecastData.GetOpenWeatherCityList();
        }
    }

    protected async Task<List<City>> SearchCityNames(string searchText)
    {
        var res = await Task.FromResult(CityList.Where(x => x.Name.ToLower().StartsWith(searchText.ToLower())).ToList());
        return res;
    }

}
